process {
    withLabel: biokanga {
      module = 'biokanga/4.3.9'
    }
    withLabel: bowtie2 {
      module = ['bowtie/2.2.9', 'samtools/1.7.0']
    }
    withLabel: bwa {
      module = ['bwa/0.7.15', 'samtools/1.7.0']
    }
    withLabel: minimap2 {
       module = 'minimap/2.12'
    }
    withLabel: samtools {
      module = 'samtools/1.7.0'
    }
}
