process {
  withLabel: results {
    publishDir {
      path = "${params.outdir}"
      mode = "link"
    }
  }
  withLabel: stats {
    publishDir {
      path = "${params.outdir}/stats"
      mode = "${params.publishmode}"
      mode = "copy"
    }
  }
  withLabel: figures {
    publishDir {
      path = "${params.outdir}/figs"
      mode = "${params.publishmode}"
      mode = "copy"
    }
  }
}
